@mixin margin {
  margin: 50px 0;
}

@mixin color {
  color: white;
}

@mixin button {
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 16px;
  background-color: black;
  color: white;
}

@mixin span {
  font-style: italic;
}

@mixin section {
  max-width: 1440px;
}

@mixin ul {
  list-style-type: none;
  padding: 0;
}