@import "variables";

@import "mixin";

@import "extend";

body {
   width: 100%;
  font-family: $font;
  background-color: $bgColor;
  @include color;
  @extend %text;

  ul {
    @include ul;
  }

  button {
    @include button;
  }

  span {
    @include span;
  }

    .header {
      width: 100%;
      max-width: 1440px;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .header__subtract {
        max-width: 94px;
        max-height: 24px;
        transform: translateY(30%);

        img {
          object-fit: cover;
        }
      }

      .header__burger {
        display: none;

        @media screen and (max-width: 768px) {
          display: block;
        }

        .img {

          @media screen and (max-width: 768px) {
            display: block;
            width: 46px;
            height: 46px;
          }

          @media screen and (max-width: 480px) {
            display: block;
            width: 46px;
            height: 46px;
          }
        }
      }

      .header__menu {
        display: flex;
        max-width: 600px;
        width: 100%;

        @media screen and (max-width: 768px) {
          display: none;

        }

        li {
          display: inline;
          padding-right: 20px;
          color: #909090;
        }

        .header__contacts {
          padding-left: 120px;
          color: white;
        }
      }
    }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  section {
    @include margin;
    @include section;
    
    
  }

    .bring {
      position: relative;

      .bring__plates {
        max-width: 1440px;
        max-height: 910px;

        img {
          width: 100%;
          object-fit: cover;
  
          @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 100%;
          }
  
          @media screen and (max-width: 480px) {
            width: 100%;
          }
        }
      }

      p:first-of-type {
        position: absolute;
        top: 30px;
        left: 40px;
        font-size: 72px;
        max-width: 690px;
        line-height: 80px;

        @media screen and (max-width: 768px) {
          font-size: 36px;
          max-width: 300px;
          line-height: 36px;
        }

        @media screen and (max-width: 480px) {
          font-size: 24px;
          max-width: 170px;
          line-height: 36px;
        }
      }

      p:nth-of-type(2), p:nth-of-type(3) {
        position: absolute;
        color: #E2E2E2;

        
      }

      p:nth-of-type(2) {
        bottom: 150px;
        right: 77px;

        @media screen and (max-width: 768px) {
          bottom: 10px;
          right: 15px;
        }

        @media screen and (max-width: 480px) {
          bottom: 25px;
          right: 30px;
        }
      }

      p:nth-of-type(3) {
        bottom: 134px;
        right: 40px;

        @media screen and (max-width: 768px) {
          bottom: 0;
          right: 10px;
        }

        @media screen and (max-width: 480px) {
          bottom: 10px;
          right: 25px;
        }
      }

      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    .market {
      

      p:first-of-type {
        margin-left: 40px;
      }

      p:nth-of-type(2), p:nth-of-type(3) {
        font-weight: 500;
        font-size: 42px;
        line-height: 50px;

        @media screen and (max-width: 768px) {
          font-size: 36px;
          line-height: 28px;
        }

        @media screen and (max-width: 480px) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      p:nth-of-type(2) {
        margin: 0 40px;
        text-align: right;
      }

      p:nth-of-type(3) {
        margin: 0 40px 50px 40px;
        text-align: justify;
        
      }
    }

    .unusual {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .unusual__clarity-lenses {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 100%;
        text-align: right;

        @media screen and (max-width: 480px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .unusual__clarity {
          align-items: center;
        
          @media screen and (max-width: 480px) {
           align-items: flex-start;
          }
        }

        .unusual__lenses {
          display: block;
          max-width: 1000px;
          max-height: 800px;

          @media screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }

          @media screen and (max-width: 480px) {
            width: 100%;
            height: auto;
          }

          img {
            object-fit: cover;
          }
        }

        .unusual__lenses img {
          object-fit: cover;
          height: auto;
          width: 100%;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          @media screen and (max-width: 480px) {
            width: 100%;
          }
        }
       }

      .unusual__success,
      .unusual__clarity,
      .unusual__connection {
        display: flex;
        gap: 16px;
        max-width: 375px;
        text-align: left;

        div:first-of-type p {
          margin: 0;
        }

        h4 {
          font-size: 32px;
          line-height: 38px;
          margin: 0;
        }

        @media screen and (max-width: 480px) {
          width: 90%;
          flex-direction: column;
        }
      } 
    }

    .showreel {
      position: relative;

      .showreel__arcs {
        max-width: 1334px;
        max-height: 284px;

        img {
          object-fit: cover;
          height: auto;
          width: 100%;
          border-radius: 30px;
  
          @media screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }
  
          @media screen and (max-width: 480px) {
            width: 100%;
            max-height: 560px;
          }
        }
      }
      

      span {
        position: absolute;
        width: 100%;
        max-width: 1300px;
        text-align: center;
        font-style: normal;
        line-height: 243px;
        font-size: 210px;
        font-weight: 500;
        color: #909090;
        transform: translate(-105%, 90%);
        overflow-wrap: break-word;
        hyphenate-character: ' ';

        @media screen and (max-width: 1220px) {
          font-size: 150px;
          line-height: 100px;
          transform: translate(-105%, 200%);
        }

        @media screen and (max-width: 990px) {
          font-size: 130px;
          line-height: 100px;
          transform: translate(-100%, 200%);
        }

        @media screen and (max-width: 768px) {
          font-size: 100px;
          line-height: 100px;
          overflow-wrap: break-word;
          max-width: 350px;
          transform: translate(-150%, 50%);
          opacity: 0.7;
        }

        @media screen and (max-width: 490px) {
          font-size: 80px;
          line-height: 100px;
          overflow-wrap: break-word;
          max-width: 350px;
          transform: translate(-130%, 13%);
        }
        
        @media screen and (max-width: 480px) {
          font-size: 70px;
          line-height: 100px;
          overflow-wrap: break-word;
          max-width: 250px;
          
        }
      }

      .showreel__play {
        position: absolute;
        transform: translate(-130%, 300%);

        @media screen and (max-width: 990px) {
          transform: translate(-110%, 250%);
        }

        @media screen and (max-width: 768px) {
          transform: translate(-110%, 180%);
        }

        @media screen and (max-width: 480px) {
          transform: translate(-110%, 130%);
                 
        }
      }

      
    }

    .services {
      display: flex;
      justify-content: space-between;
      gap: 320px;
      margin: 100px 40px 50px 40px;

      @media screen and (max-width: 990px) {
        gap: 50px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
        
      }

      button {
        font-size: 12px;
      }

      p {
        margin-top: 0;
      }

      .services__header {
        width: 85px;

      }

      .services__menu {
        max-width: 900px;
      

        .services__version {
        display: flex;
        gap: 16px;
        margin-bottom: 32px;
        
        

        @media screen and (max-width: 480px) {
          flex-direction: column;
        }

        .services__design {
          width: 100%;
        border-top: 1px solid white;
        }

        h4 {
          font-size: 32px;
        }

        li {
          display: inline;
        }
        }
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      gap: 40px;      
        

      @media screen and (max-width: 480px) {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 0 10px;
      }

      h5 {
        max-width: 380px;
        min-width: 76px;

        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }

      p:nth-of-type(2) {
        max-width: 546px;
          
        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }

      p:last-of-type {
        max-width: 326px;

        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }
    }

    .view {
      display: flex;
      justify-content: right;
      max-width: 1440px;
      width: 100%;
      margin: 0;
      

      h4 {
      font-size: 32px;      

      @media screen and (max-width: 480px) {
        text-align: center;
      }
      }
      
    }

    .projects {
      display: flex;
      gap: 16px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
        width: 100%;
      }

      @media screen and (max-width: 480px) {
        flex-direction: column;
      }

      .projects__image {
        max-width: 1020px;
        max-height: 475px;

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
  
          @media screen and (max-width: 768px) {
            width: 100%;
          }
  
          @media screen and (max-width: 480px) {
            width: 100%;
          }
        }
      }

      

      div:last-of-type {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 328px;

        @media screen and (max-width: 768px) {
          align-self: center;
        }

        @media screen and (max-width: 480px) {
          align-self: center;
        }

        p {
          font-size: 14px;
          line-height: 16px;
        }

        h4 {
          font-size: 32px;

          @media screen and (max-width: 480px) {
            margin: 10px 0;
          }
        }

        li {
          display: inline;
        }
      }
    }

    .process {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      gap: 70px;

      @media screen and (max-width: 760px) {
        width: 100%;
        
      }

      @media screen and (max-width: 480px) {
        width: 100%;
        
      }

      .process__plan {
        display: flex;
        justify-content: space-between;
        

        @media screen and (max-width: 768px) {
          gap: 60px;
          width: 100%;
          
        }

        @media screen and (max-width: 480px) {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 20px;
          width: 100%;
          
        }

        a {
          text-wrap: nowrap;
          color: white;

          @media screen and (max-width: 480px) {
            margin: 0 40px;
          }
        }

        p {
          max-width: 900px;
          width: 100%;
          font-size: 42px;
          line-height: 50px;
          font-weight: 500;
          overflow-wrap: break-word;

          @media screen and (max-width: 768px) {
            font-size: 36px;
            text-wrap: wrap;
            line-height: 30px;
            
          }

          @media screen and (max-width: 480px) {
            font-size: 24px;
            text-wrap: wrap;
            line-height: 28px;
          }
        }
      }

      .process__circles {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        scrollbar-width: none;

        div {
          display: flex;
          min-width: 424px;
          height: 424px;
          border: 1px solid white;
          border-radius: 50%;
          align-items: center;
          justify-content: center;

          p {
            text-align: center;
            font-size: 32px;

            span {
              vertical-align: 0.8em;
              font-size: 16px;
            }
          }
        }

        div:last-of-type {
          background-color: white;
          color: black;
        }
      }
    }

    .collide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 750px;
      height: 120px;

      @media screen and (max-width: 768px) {
        width: 100%;
        height: 250px;
      }

      span {
        display: flex;
        font-size: 90px;
        font-style: normal;

        @media screen and (max-width: 768px) {
          font-size: 64px;
        }

        @media screen and (max-width: 480px) {
          font-size: 42px;
        }
      }

      a {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: white;
        color: black;
        border-radius: 50%;
        text-align: center;
        transform: translateX(300%);

        @media screen and (max-width: 768px) {
          transform: translate(300%, 100%);
        }

        @media screen and (max-width: 480px) {
          transform: translate(150%, 100%);
        }
      } 


    }

    .design {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;

      span {        
        overflow-wrap: break-word;
        line-height: 150px;
        font-size: 190px;
        font-style: normal;
        font-weight: bold;
        background: repeating-linear-gradient(
        0deg,
        gray 0,
        gray 1px,
        white 1px,
        white 2px
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        hyphenate-character: ' ';
        text-align: center;

        @media screen and (max-width: 768px) {
         font-size: 120px;
          line-height: 100px;
        }

        @media screen and (max-width: 480px) {
          font-size: 80px;
          line-height: 60px;
        }



      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1440px;

        @media screen and (max-width: 480px) {
          flex-direction: column;
        }
       
        ul {
          list-style-type: none;
          
          li {
            padding-bottom: 10px;
          }
        }
      
        div:first-of-type {

          @media screen and (max-width: 480px) {
            text-align: center;
            font-size: 14px;
          }

          ul {
            @media screen and (max-width: 480px) {
              padding: 0;
            }
          }

          li:first-of-type {
            @media screen and (max-width: 480px) {
              font-size: 32px;
            }
          }
        }

        div:nth-of-type(2) {
        display: flex;
        align-self: flex-end;

        @media screen and (max-width: 768px) {
          align-self: center;
        } 


          ul {
            padding: 0;

            @media screen and (max-width: 768px) {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              gap: 10px;
              font-size: 14px;
          } 


            @media screen and (max-width: 480px) {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              gap: 10px;
              font-size: 14px;
          }
            
        }

        li {
          display: inline;
          padding: 10px;
        }
      }

        div:last-of-type {
        text-align: right;

        @media screen and (max-width: 480px) {
          font-size: 14px;
          text-align: center;
        }
        }
    }
  
}