.about_us {
  display: flex;
  flex-direction: column;
  margin: 90px 20px;
  font-weight: 500;
}

.about_us h3 {
  font-size: 40px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.about_us>p {
  font-size: 36px;
  color: #262626;
  text-align: center;
  padding: 20px 0;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.about_us>p span {
  color: #B2C800;
}

.domus_team {
  display: flex;
  gap: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.domus_team div:nth-of-type(1),
.domus_team div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  background-color: #f5f5ef;
  border-radius: 32px;
  justify-content: space-between;
  padding: 30px 20px;
  flex: 1;
}

.about_us h5 {
  font-size: 40px;

  @media (max-width: 768px) {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
}

.domus_team p {
  font-size: 16px;
}

.domus {
  position: relative;

  @media (max-width: 768px) {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}

.domus img {
  object-fit: contain;
  border-radius: 32px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.domus button {
  position: absolute;
  font-size: 24px;
  padding: 20px 30px;
  bottom: 20px;
  left: 200px;
}