.feedback {
  margin: 90px 20px;
  position: relative;
  display: grid;
  grid-template-rows: 650px;
  grid-template-columns: repeat(2, 1fr);
  background-color: #DCEEFF;
  border-radius: 48px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.feedback_left {
  position: relative;
  display: flex;
  justify-content: end;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.feedback_line {
  top: -10px;
  margin-right: 40px;
  opacity: 0.4;
}

.feedback_left img {
  position: absolute;
  object-fit: contain;
  width: 500px;
  height: 450px;
  bottom: 0px;
  right: 0;


  @media (max-width: 768px) {
    left: 0;
    top: 5px;
    width: 300px;
    height: 270px;
  }

  @media (max-width: 445px) {
    left: 0;
    top: 5px;
    width: 150px;
    height: 135px;
  }
}

.kick {
  width: 260px;
  height: 190px;
  background-color: #FFFFFF;
  border-radius: 32px;
  rotate: 13deg;
  margin-top: 30px;
  margin-right: 20px;
}

.kick p {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #5A607F;
  margin: 20px 15px;
}

.kick button {
  border-radius: 48px;
  color: #080808;
  padding: 15px 40px;
  margin: 10px 30px 15px 30px;
  justify-content: center;
}

.feedback_right {
  display: grid;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 35px;
  border-radius: 32px;
}

.form h3 {
  font-size: 40px;
  font-weight: 500;
  padding: 15px;
}

.form p {
  font-size: 20px;
  font-weight: 400;
  color: #494949;
  padding: 5px 15px;
}

.form div {
  border-bottom: 2px solid #979797;
  margin: 30px 15px;
}

.form input {
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.form div:last-of-type {
  margin: 40px 30px;
  background-color: #E4FF02;
  padding: 17px 44px;
  border-radius: 48px;
  font-size: 16px;
  font-weight: 600;
  color: #080808;
  border: none;
  justify-items: stretch;
  text-align: center;
}