/* html {
  width: 100%;
} */

body {
  background-color: rgb(209, 212, 214);
  font-family: "Poppins", sans-serif;


}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header>img {
  padding: 28px 0 28px 60px;
  width: 136px;
  height: 28px;
}

.header>button {
  border: 1px solid rgb(41, 39, 39);
  border-radius: 40px;
  padding: 12px 24px;
  background-color: rgb(209, 212, 214);
  margin-right: 60px;
  margin-top: 15px;
  font-size: 16px;
}

main {
  width: 100%;


}

button {
  background-color: #E4FF02;
  border-radius: 40px;
  border: none;
  padding: 17px 44px;
  font-size: 16px;
  font-weight: 600;
}

.footer {
  display: grid;
  grid-template-areas:
    "contact domus register";
  justify-content: space-between;
}

.contact {
  margin: 20px;
}

.contact li {
  padding: 6px 10px;
}

.footer button {
  align-self: start;
  border: 1px solid rgb(41, 39, 39);
  border-radius: 40px;
  padding: 12px 14px;
  background-color: rgb(209, 212, 214);
  font-size: 16px;
}